body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    text-align: center;
    margin-top: 100px;
}

.container {
    background: white;
    padding: 30px;
    max-width: 900px;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
}
/* Forecast Section */
#forecastContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 15px;
}

/* Forecast Cards */
.forecast-card {
    background: #f0f8ff;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.forecast-card:hover {
    transform: translateY(-5px);
}

.forecast-card img {
    width: 60px;
}

.forecast-card h4 {
    margin-bottom: 8px;
}

.forecast-card p {
    margin: 5px 0;
}